@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Hello @ViewData["First"] @ViewData["Last"]. Your associated email is @ViewData["Email"]. </p>
